<header>
    <div class="navbar">
        <div class="container">
            <a href="/"><img class="navbar-brand" style="width:178px;height:71px;"  href="/" src="http://127.0.0.1:8000/site_media/logo.jpg"></a>
            <div class="navbar-collapse collapse ">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        {% if user.first_name %}
                            <li>
                                <span class="label label-default">Hoşgeldiniz {{ user.first_name }} {{ user.last_name }}</span>
                            </li>
                        {% endif %}
                        <li><a href="/kurslar">Kurslar</a></li>
                        <li><a href="/egitmen">Eğitmen</a></li>
                        <li><a href="/profil-duzenle">Düzenle</a></li>
                        <li><form method="get" action="/search">
                            <span><input id="id_q" name="q" type="search" placeholder="Kurs ara" class="form-control" />  </span>
                            <tr></tr>
                        </form>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li><a href="/kurslar">Kurslar</a></li>
                        <li><a href="/search">Arama Yap</a></li>
                        <li><a href="/login">Giriş</a></li>
                        <li><a href="/register">Kayıt</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</header>
