<div class="main_container">


            {% ifequal kurs_sayisi.count 0 %}
                      <div class="col-md-12 text-center">

            Henüz bir kursunuz bulunmamaktadır. <hr>
            <a href="/kursolustur" class="btn btn-lg btn-success ">İlk Kursunuzu Oluşturun!</a>
           </div>
          {% else %}

            <div class="col-md-2 left_col">
              <div class="left_col scroll-view">
          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>Genel</h3>
              <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a></li>
                <li><a href="http://127.0.0.1:8000/kursolustur"><i class="fa fa-edit"></i> Yeni Kurs Oluştur <span class="fa fa-chevron-down"></span></a></li>
              </ul>
            </div>
              <hr>

                {% for kurs in egitmen_kurslar %}
                       <h4> {{ kurs.courseName }} </h4>
              <ul class="nav side-menu">
               <li><a href="http://127.0.0.1:8000/kursduzenle/{{ kurs.courseID }}"><i class="fa fa-bug"></i> Kurs Bilgilerini Güncelle </a></li>
               <li><a href="http://127.0.0.1:8000/kursduzenle/{{ kurs.courseID }}/icerikekle"><i class="fa fa-bug"></i> İçerikleri Düzenle </a></li>
              </ul>
                {% endfor %}
                </div>

            </div>
            {% endifequal %}

          </div>
        </div>
      </div>
