<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gizlilik Politikası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>
</head>

<body>
{% include "base/nav.html" %}

<div class="container">
    <div class="row">
        <h3>Privacy Policy</h3><hr>
        <strong> Personally Identifiable Information We Collect and How We Use It.</strong> <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi ex fugiat harum id natus neque nisi, possimus quae quaerat qui, reprehenderit soluta voluptatem voluptates voluptatum. Architecto beatae eaque tenetur.
        <br><strong> Personally Identifiable Information We Collect and How We Use It.</strong> <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi ex fugiat harum id natus neque nisi, possimus quae quaerat qui, reprehenderit soluta voluptatem voluptates voluptatum. Architecto beatae eaque tenetur.
        <br><strong> Personally Identifiable Information We Collect and How We Use It.</strong> <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi ex fugiat harum id natus neque nisi, possimus quae quaerat qui, reprehenderit soluta voluptatem voluptates voluptatum. Architecto beatae eaque tenetur.
        <br><strong> Personally Identifiable Information We Collect and How We Use It.</strong> <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi ex fugiat harum id natus neque nisi, possimus quae quaerat qui, reprehenderit soluta voluptatem voluptates voluptatum. Architecto beatae eaque tenetur.

    </div>
</div>

</body>
</html>