<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hakkımızda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>
</head>
<body>
{% include "base/nav.html" %}
<div class="container">
    <div class="row">
            Hakkımızda
    </div>
</div>

</body>
</html>