<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>

</head>
<body>
{% include "base/nav.html" %}

<div class="container">
    <div class="row">
            İletişim
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi doloremque ea earum, explicabo hic itaque labore libero nam neque non odit placeat praesentium quibusdam quis repellat sint ut voluptate?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis error maiores minima nisi, obcaecati sequi tempora? Assumenda eveniet hic non numquam tenetur? Dolores ipsam neque, nihil officiis recusandae ut!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum libero minima nesciunt tenetur. Alias aperiam, consequatur distinctio labore magni molestias mollitia, officiis praesentium quis ratione saepe vel voluptate voluptatem voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur cupiditate doloremque harum minima molestias nesciunt nobis perferendis, quaerat repellendus sapiente sint ut. Et provident velit vero! A aut, eum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores at beatae blanditiis consequatur, cupiditate dignissimos doloribus error excepturi, fuga ipsum minus officia quaerat quod sequi similique voluptate voluptatum?
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minima perferendis quaerat? A ab dolores
            eos esse et excepturi numquam provident quas saepe totam. Aliquid dolorum excepturi explicabo possimus
            reiciendis!
        </div>
        <div>Commodi corporis dolorum eaque esse? Aliquam animi atque blanditiis debitis doloribus explicabo, facilis
            illo labore quae quibusdam quos, reprehenderit, sit voluptatibus? Ab dolor dolorem est minima nesciunt,
            possimus qui repellat.
        </div>
        <div>Ad aspernatur, cumque eius esse est eum ex facere iste magni maxime nemo, odit officia placeat rerum ullam.
            Adipisci aliquid architecto assumenda delectus error fugiat illo inventore nihil quisquam similique.
        </div>
        div.row>.col-xs-3*4
    </div>
</div>

</body>
</html>