<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Questions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
<link href="/site_media/css/style.css" rel="stylesheet" />
<link href="/site_media/skins/default.css" rel="stylesheet" />
<link href="/site_media/skins/main.css" rel="stylesheet" />

</head>
<body>

<div id="wrapper">
    {% include "base/nav.html" %}
    <hr>
    <div class="container">
    <a href="baslikac"><button type="button" class="btn btn-primary" >Yeni Başlık Aç</button></a>

    <div class="row">
        <div id="content">
        {% for x in lastquestions %}
		<div class="widget widget-gray">
				<div class="widget-head" >
					<a href="{{ x.id }}" target="_blank">
                        <h4 class="heading" ><i class="fa fa-briefcase"></i>{{ x.question_title }}</h4>
                    </a>
                </div>
            <div class="widget-body">{{ x.question_text }}</div>
        </div> <br>
        {% endfor %}
        </div>
	</div>
</div>






</body>
</html>