<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <title>Question - {{ question_details.question_title }}</title>
</head>

<body>
<div id="wrapper">
    {% include "base/nav.html" %}
    <div class="container">
        <hr>
        <div class="media">
            {% if question_details.user.profile_pic %}
            <a href="#" class="pull-left"><img  width=128 height=128 src="http://127.0.0.1:8000/media/{{ question_details.user.profile_pic }}" class="media-photo"></a>
            {% endif %}
            <div class="media-body">
			<span class="media-meta pull-right">{{ question_details.pub_date }}</span>
                <strong>{{ question_details.user.first_name }} {{ question_details.user.last_name }} tarafından soruldu,</strong>
                <strong><h4 class="title">{{ question_details.question_title }}</h4></strong>
				<p class="summary">{{ question_details.question_text }}</p>
            </div>
        </div>
        <hr>

        <div class="col-sm-12">
            <h3>Cevaplar</h3>
        </div>
        {% if lastanswers %}
        {% for ans in lastanswers %}
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>
            <div class="col-sm-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ ans.author }}</strong> <span class="text-muted">yorumladı , {{ ans.pub_date|date:"d M Y" }} {{ ans.pub_date |time:"H:i" }} tarihinde</span>
                    </div>
                    <div class="panel-body">
                        {{ ans.answer_text }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            Bu soru cevaplanmamıştır.
        {% endif %}


        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Yanıtınız
                </div>
                <div class="panel-body">
                    <form method="POST" class="form-horizontal"  >
                    {% csrf_token %}
                    <textarea rows="6" cols="138" id="id_answer_text" maxlength="200" name="answer_text" type="text" > </textarea>
                    <button type="submit" class="save btn btn-success">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>