<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Profil Düzenle</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
<link href="/site_media/css/style.css" rel="stylesheet" />


<!-- Theme skin -->
<link href="/site_media/skins/default.css" rel="stylesheet" />
</head>

<body>
<div id="wrapper">
  {% include "base/nav.html" %}
   <div class="container">
          <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-2 sidebar">

                     <ol class="list-unstyled">
                       <img src="http://127.0.0.1:8000/media/{{ user.profile_pic }}" style="width: 150px;height: 150px;"/>
                        <strong>Kullanıcı Adı: </strong>{{ user.username }}

                    </ol>

                    <hr>
          </div>

            <div class="col-md-10 left-sidebar">
                <form class="form-horizontal" method="POST" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ field.label_tag }}</label>
                            <div class="col-md-5">
                                {{ field }}
                                <span class="help-block"></span>
                            </div>
                        </div>
                    {% endfor %}
                 <div  class="text-center">
                    <button id="update" name="update" class="btn btn-success ">Güncelle</button>
                </div>
               </form>

            </div>
          </div>
   </div>
</div>


</div>

{% include "base/footer.html" %}

</div>
</body>
</html>