<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>OfCourse</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
<link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
</head>


<body>
<div id="wrapper">
  {% include "base/nav.html" %}
    <div class="container">
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ kullanici.username }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://127.0.0.1:8000/media/{{ kullanici.profile_pic }}" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                {% if kullanici.email %}
                                    <tr>
                                        <td>Email:</td>
                                        <td><a href="mailto:{{ kullanici.email }}">{{ kullanici.email }}</a></td>
                                    </tr>
                                {% endif %}
                                {% if kullanici.first_name %}
                                    <tr>
                                        <td>Adı:</td>
                                        <td>{{ kullanici.first_name }} {{ kullanici.last_name }}</td>
                                    </tr>
                                {% endif %}
                                {% if kullanici.date_joined %}
                                    <tr>
                                        <td>Katılma Tarihi:</td>
                                        <td>{{ kullanici.date_joined }}</td>
                                    </tr>
                                {% endif %}
                                {% if kullanici.website %}
                                    <tr>
                                        <td>Web site:</td>
                                        <td><a href="{{ kullanici.website }}">{{ kullanici.website }}</a></td>
                                    </tr>
                                {% endif %}
                                {% if kullanici.twitter %}
                                    <tr>
                                        <td>Twitter:</td>
                                        <td><a href="http://twitter.com/{{ kullanici.twitter }}">{{ kullanici.twitter }}</a></td>
                                    </tr>
                                {% endif %}
                                {% if kullanici.courses.all %}<tr>
                                    <td>Kursları:
                                    <td>{% for kurs in kullanici.courses.all %}
                                    <a href="http://127.0.0.1:8000/kurs/{{ kurs.courseID }}">{{ kurs.courseName }} </a> |
                                {% endfor %}
                                </td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary">PM Gönder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "base/footer.html" %}
</div>
</body>
</html>