<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OfCourse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" /><link href="/site_media/skins/default.css" rel="stylesheet" />
</head>


<body>
<div id="wrapper">
    {% include "base/nav.html" %}
    <section style="background-color:black;height:530px;background-image:url(/site_media/denemeresim.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta cta-text">
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <div class="col-lg-12 centered" >
                            <a href="/kurslar" class="btn btn-lg btn-info newclass" style="width:460px;" type="button">Tüm Kursları Görüntüle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section id="content">
        <legend class="text-center">Popüler Kurslar</legend>
        <div class="container" style="height:500px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% for kurs in populerkurslar %}
                            <div class="col-lg-3">
                                <div class="box" >
                                    <div class="box-gray aligncenter" style="height: 150px;">
                                        <h4>{{ kurs.courseName }}</h4>
                                        <div class="icon">
                                            <i class="fa fa-desktop fa-3x"></i>
                                        </div>
                                        <p>{{ kurs.courseDesc }}</p>
                                    </div>
                                    <div class="box-bottom" style="margin-bottom:40px";>
                                        <a href="http://127.0.0.1:8000/kurs/{{ kurs.courseID }}">Görüntüle</a>
                                    </div>
						</div>
					</div>
					 {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "base/footer.html" %}

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

</body>
</html>
