<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Giriş Yap - OfCourse</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
<link href="/site_media/css/style.css" rel="stylesheet" />
<link href="/site_media/skins/default.css" rel="stylesheet" />
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ icerik.coursePreVideo }}" frameborder="0" allowfullscreen></iframe> -->

</head>

<body>
  <div id="wrapper">


    <header >
            <div class="navbar">
              <div class="container">
 <a href="/"><img class="navbar-brand" style="width:178px;height:71px;"  href="/" src="http://127.0.0.1:8000/site_media/logo.jpg"></a>
                      </div>
        </div>
    </header>


<div class="container center-block">
        <div id="loginbox" style="margin-top:50px;" class=" mainbox col-md-3 col-md-offset-4">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Giriş</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <form id="login-form" class="form-horizontal" method="post"  action="/login/">
                              {% csrf_token %}
                                  <div style="margin-bottom: 25px" class="input-group">
                                        <input id="id_username" type="text" class="form-control" name="l_username" value="" placeholder="Kullanıcı Adı">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <input id="id_password1" type="password" class="form-control" name="l_password" placeholder="Şifre">
                                    </div>

                                    <input type="hidden" name="next" value="{{ next }}" />


                                <div style="margin-top:10px" class="form-group">
                                    <div class="col-sm-12 controls">
                                      <input type="submit" name="commit" value="Gönder" href="#" class="btn btn-success">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Hesabın yok mu?
                                        <a href="/register" >
                                            Kayıt Ol
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </form>



                        </div>
                    </div>
        </div>



         </div>
    </div>
