<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Kayıt Ol - OfCourse</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
<link href="/site_media/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="/site_media/css/jcarousel.css" rel="stylesheet" />
<link href="/site_media/css/flexslider.css" rel="stylesheet" />
<link href="/site_media/css/style.css" rel="stylesheet" />
<link href="/site_media/skins/default.css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
  <header >
          <div class="navbar">
            <div class="container">
 <a href="/"><img class="navbar-brand" style="width:178px;height:71px;"  href="/" src="http://127.0.0.1:8000/site_media/logo.jpg"></a>

          </div>
      </div>
  </header>
</div>
<div class="container center-block">
            <form class="form-horizontal" id="registerForm" method="POST" >
                {% csrf_token %}

                  <fieldset>
                      {{ form.errors }}
                      <legend>Kayit Ol</legend>
                        <div class="form-group">
                              <label class="col-md-4 control-label" for="id_username">Kullanıcı Adı</label>
                                  <div class="col-md-4">
                                      <input id="id_username" name="username" type="text"  maxlength="30"   placeholder="Kullanıcı Adı" class="form-control input-md" required="">
                                  </div>
                       </div>
                       <div class="form-group">

                              <label class="col-md-4 control-label" for="id_email">Email</label>
                                  <div class="col-md-4">
                                      <input id="id_email"  maxlength="254" name="email" type="email" placeholder="E-Mail" class="form-control input-md" required="">
                                    </div>
                      </div>

                      <div class="form-group">
                            <label class="col-md-4 control-label" for="id_password1">Parola</label>
                                <div class="col-md-4">
                                      <input id="id_password1" name="password1" type="password" placeholder="Parola" class="form-control input-md" required="">
                                </div>
                    </div>
                    <div class="form-group">
                          <label class="col-md-4 control-label" for="id_password2">Parola Tekrar</label>
                              <div class="col-md-4">
                                    <input id="id_password2"  maxlength="64" name="password2" type="password" placeholder="Parola" class="form-control input-md" required="">
                              </div>
                    </div>






<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup"></label>
  <div class="col-md-4">
    <button id="signup"  name="signup" class="btn btn-success"> Kayıt Ol</button>
  </div>
</div>

</fieldset>
</form>
</div>


</body>
</html>
