<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurs Oluştur</title>
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ icerik.coursePreVideo }}" frameborder="0" allowfullscreen></iframe> -->

</head>
<body>
  <div id="wrapper">
    {% include "base/nav.html" %}

    <div class="container">
      <div class="row">
          <div class="col-md-3 text-center">
              <h2>Ara</h2>
              <table>
                <form method="get" action=".">
                    <span><input id="id_q" name="q" type="search"  />  </span>
                    <tr>
                            <input type="submit" value="Ara">
                    </tr>
                </form>
              </table>

          </div>

          <div class="col-md-9 ">

        {% if query %}
            <h3>Sonuçlar</h3>

            {% for result in page.object_list %}
                            {% if result.object.courseName %}
                        <strong>Kurs :  </strong>     <a href="/kurs/{{ result.object.courseID }}"> {{ result.object.courseName }} </a>
                                          <span class="badges">
                                              {% if result.object.courseLevel %}
                                            <span class="badge badge-squared badge-new text-uppercase">{{ result.object.courseLevel }}</span>
                                            {% endif %}
                                            {% if result.object.courseLanguage %}
                                            <span class="badge badge-squared badge-new text-uppercase">{{ result.object.courseLanguage }}</span>
                                            {% endif %}
                                          </span>
                                    </h3>
                                  <span class="h6">Eğitmen: {{ result.object.courseInstructor }} | Başlangıç: {{ result.object.courseStartDate }}</span> <hr>

                    {% endif %}
                    {% if result.object.user %}
                   <hr><strong>Kullanıcı : </strong> <a href="http://127.0.0.1:8000/kullanici/{{ result.object.user }}">{{ result.object.user }} / {{ result.object.user.first_name }} {{ result.object.user.last_name }}</a><hr>
                    {% endif %}
            {% empty %}
                <p>Sonuç bulunamadı.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
        {% endif %}
                      </div>

</div>
</div>
</div>

</body>
</html>

