
{% block content %}

	{% if user_is_me %}
		<div class="panel panel-default">
			<div class="panel-heading">Available Quizzes</div>
			<ul class="list-group">
				{% for quiz in available_quizzes %}
					<li class="list-group-item"><a href="{% url 'quizapp.views.generate_quiz' quiz.id %}">{{ quiz.title }}</a></li>
				{% empty %}
					<li class="list-group-item">There are currently no available quizzes.</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">{% if user_is_me %}My{% else %}{{ user.get_full_name }}'s{% endif %} Quiz History</div>
		{% if past_quizzes %}
			<table class="table">
				<thead>
					<tr>
						<th>Quiz Title</th>
						<th>Status</th>
						<th>Score</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% for user_quiz in past_quizzes %}
						<tr>
							<td><a href="{% url 'view_quiz' user_quiz.id %}">{{ user_quiz.quiz_content.title }}</a></td>
							<td>{% if user_quiz.is_complete %}Complete{% else %}Incomplete{% endif %}</td>
							<td>{{ user_quiz.get_score }}</td>
							<td>{{ user_quiz.created }}</td>
						</tr>
					{% endfor %}
				<tbody>
			</table>
		{% else %}
			<ul class="list-group">
				<li class="list-group-item">{% if user_is_me %}You have{% else %}{{ user.get_full_name }} has{% endif %} not taken any quizzes.</li>
			</ul>
		{% endif %}
	</div>

{% endblock content %}