{% extends 'base.html' %}

{% block content %}

	<h2>Thank you for taking the quiz!</h2>

	<br>

	<h4>Your score: <strong>{{ user_quiz.get_score }}</strong></h4>

	<br>

	<a href="{% url 'index' %}">Return to index</a>

{% endblock content %}
