
{% load staticfiles %}

{% block extra_scripts %}
	<script src="{% static 'quizzes/view_quiz.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}

	<h2>{{ user_quiz.quiz_content.title }}</h2>

	<div class="well">
		{{ user_quiz.quiz_content.content }}
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Questions</div>
		<ul class="list-group">
			{% for response in user_quiz.responses.all %}
				<li class="list-group-item">
					{{ response.quiz_question.question }}
					{% if readonly %}
						<div>
							<strong>
								{{ response.display_user_answer }} 
								{% if user_quiz.is_complete %}
									({% if response.is_correct %}Correct{% else %}Incorrect{% endif %})
								{% endif %}
							</strong>
						</div>
					{% else %}
						<form class="quiz-response-form" method="post" action="{% url 'answer_quiz_question' response.id %}">
							{% csrf_token %}
							{{ response.get_form.user_answer }}
						</form>
					{% endif %}
				</li>
			{% empty %}
				<li class="list-group-item">This quiz has no questions.</li>
			{% endfor %}
		</ul>
	</div>

	{% if show_incomplete_warning %}
		<div class="alert alert-danger">
			Please answer every question before submitting your quiz.
		</div>
	{% endif %}

	{% if not readonly %}
		<a href="{% url 'submit_quiz' user_quiz.id %}" class="btn btn-lg btn-primary">Submit Quiz</a>
	{% endif %}

{% endblock content %}