<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Kurs Detay</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />

<link href="/site_media/css/style.css" rel="stylesheet" />
<link href="/site_media/skins/default.css" rel="stylesheet" />

</head>

<body>

<div id="wrapper">
    {% include "base/nav.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% ifequal kurs_sayisi.count 0 %}
                    Henüz bir kursunuz bulunmamaktadır. <hr>
                    <a href="" class="btn btn-lg btn-success ">İlk Kursunuzu Oluşturun!</a>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p class="alert-info input-lg">Kurslarım</p><hr>
                    </div>

                    {% for tas in taslak_kurslar %}
                        <div class="col-md-6" style="background-color:#c4e3f3 ">
                            <div  class="img-responsive" style="color:azure;"> Kurs Adı: {{ tas.courseName }}</div>
                            <div  class="img-responsive" style="color:azure;"> Kursiyer Sayısı: {{ tas.courseName }}</div>
                            <div  class="img-responsive" style="color:azure;"> Kursu Düzenle</div>
                        </div>
                    {% endfor %}
                {% endifequal %}
        </div>
    </div>
</div>
</div>
</body>
</html>
