{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/css/panel.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <title>Eğitmen Panel</title>
</head>

<body class="nav-md">
<div class="container body">
    {% include "base/nav.html" %}
    {% include "base/panel_sidebar.html" %}
</div>

</body>
</html>
