{% extends 'base.html' %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">Click on a user to view his or her quiz history.</div>
		<ul class="list-group">
			{% for user in users %}
				<li class="list-group-item"><a href="{% url 'quizzes_index' user.id %}">{{ user.get_full_name }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<a href="{% url 'quizzes_index' %}">Click here to view your own quizzes.</a>

{% endblock content %}