<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ icerik.name }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>
    <link href="/site_media/css/style.css" rel="stylesheet"/>
    <link href="/site_media/skins/default.css" rel="stylesheet" />

    <script>
    $(function(){
        $('#video').css({ width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px' });
        $(window).resize(function(){
            $('#video').css({ width: $(window).innerWidth() + 'px', height: $(window).innerHeight() + 'px' });
        });});
    </script>
    <style>body {overflow: hidden;}</style>
</head>
<body>
<iframe id="video" src="//www.youtube.com/embed/{{ icerik.video }}" frameborder="0" allowfullscreen></iframe>
</body>
</html>