<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Kurs Detay </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />

<link href="/site_media/css/style.css" rel="stylesheet" />
<link href="/site_media/skins/default.css" rel="stylesheet" />

</head>

<body>
  <div id="wrapper">

    {% include "base/nav.html" %}
<hr>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-2 sidebar">
                {% block content %}
                    <form action="" method="get">
                        {% for filters in filter.form %}
                            {{ filters.label }} {{ filters }} <hr>
                        {% endfor %}
                        <input type="submit" value="Filtrele" />
                    </form>
                {% endblock %}
             </div>
            <div class="col-md-10 ">
              {%  if kurslar %}
                Toplam {{ kurslar|length }} kurs bulunmaktadir.
                  <hr>
                {% for kat in filter %}

                    {% ifequal kat.course_isActive True %}
                    <div class="col-lg-12">
                        <div class="col-sm-3">
                              <div class="row" >
                                    <div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
                                        <a href="/kurs/{{ kat.courseID }}"> <img src="http://127.0.0.1:8000/media/{{ kat.courseCoverPhoto }}" height="170" width="290" class="img-responsive img-bordered center-block"></a>
                                    </div>
                              </div>
                        </div>

                        <div class="col-sm-9" >
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3 class="">
                                        <a href="/kurs/{{ kat.courseID }}"> {{ kat.courseName }} </a>
                                          <span class="badges">
                                              {% if kat.courseLevel %}
                                            <span class="badge badge-squared badge-new text-uppercase">{{ kat.courseLevel }}</span>
                                            {% endif %}
                                            {% if kat.courseLanguage %}
                                            <span class="badge badge-squared badge-new text-uppercase">{{ kat.courseLanguage }}</span>
                                            {% endif %}
                                          </span>
                                    </h3>
                                  <span class="h6">Eğitmen: {{ kat.courseInstructor }} | Başlangıç: {{ kat.courseStartDate }}</span>
                              </div>
                            </div>

                            <div style="margin-top:3px;margin-bottom:50px;" >{{ kat.courseDesc }} </div>
                      </div>
                      </div>
                    {% endifequal %}

          {% endfor %}
          {% else %}
            Görüntülenecek Kurs bulunmamaktadir.
              {% endif %}

            </div>

                    </div>

          </div>

        </div>


     {% include "base/footer.html" %}
</div>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
