<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kurs Detay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>
</head>
<body>
{% include "base/nav.html" %}

<div class="main-top">
    <div class="container">
        <div class="row course-desc">
            <div class="col-md-12">
                <h1 class="course-title" data-purpose="course-title">{{ icerik.courseName }}</h1>
                <div class="by mb10 flex-col-xs">
                    <span class="mr30">
                        {% if icerik.courseInstructor %}
                            Eğitmen : <a href="">{{ icerik.courseInstructor }}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-details mt10">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-7" data-purpose="introduction-video">
                <div class="slp-promo-asset">
                    <div>
                        <iframe width="750" height="370" src="https://www.youtube.com/embed/{{ icerik.coursePreVideo }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5">
                <div class="row fxdc right-wrap mh0-force-md">
                    <div>

                        <div class="col-md-12 col-sm-6">
                            <div>
                                <a href="enroll" class="btn btn-lg btn-success ">Bu Kursa Devam Edin</a>
                            </div>

                        </div>
                        <div class="col-md-11 col-sm-6" >

                            <table class="table">
                            <tbody>
                        <tr>
                            {% if icerik.courseLevel  %}
                            <td><span class="list-left"></span><strong style="padding-right:2em;"> Seviye  </strong>:</td>
                                                        <td>{{ icerik.courseLevel }}</td>
                            {% endif %}<br>
                        </tr>
                        <tr>
                            {% if icerik.courseLanguage %}
                             <td>   <span class="list-left"></span><strong style="padding-right:2em;"> Dil : </strong> </td>
                                <td> {{ icerik.courseLanguage }} </td>
                            {% endif %}<br>
                        </tr>
                        <tr>
                            {% if icerik.courseCategory %}
                           <td><strong style="padding-right:2em;"> Kategori :</strong></td>
                                <td> {{ icerik.courseCategory }} </td>

                            {% endif %}<br>

                        </tr>
                        </div>
                        </tbody>
  </table>
                        <div class="clearfix visible-xs-block"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if icerik.courseDesc %}
    <div class="container" >
        <div class="row">
            <div class="widget">
                <h5 class="widgetheading">
                    <strong>Kurs Açıklaması</strong><hr>
                    {{ icerik.courseDesc}}
                </h5>
            </div>
        </div>
    </div>
{% endif %}


<div class="container" >
    <div class="row">
        <div class="widget">
            <strong>Eğitmen Hakkında</strong><hr>
            <div class="col-lg-2 col-md-2">
                <img width="150" height="150"src="http://127.0.0.1:8000/media/{{ icerik.courseInstructor.profile_pic }}" />
            </div>
            <strong> Adı: </strong>  {{ icerik.courseInstructor.user.first_name }} {{ icerik.courseInstructor.user.last_name }}  <br>
            <strong> Biyografi: </strong> {{ icerik.courseInstructor.biography }}
        </div>
    </div>
</div>

{% include "base/footer.html" %}

</body>
</html>
