{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kurs Detay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/js/style.css" rel="stylesheet" />
    <script src="/site_media/js/jquery.min.js"></script>
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <link href="/site_media/skins/main.css" rel="stylesheet" />
    <script>
     $(document).ready(function() {
       function close_accordion_section() {
          $('.accordion .accordion-section-title').removeClass('active');
          $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
       }

      $('.accordion-section-title').click(function(e) {
           // Grab current anchor value
          var currentAttrValue = $(this).attr('href');

         if($(e.target).is('.active')) {
              close_accordion_section();
         }else {
                close_accordion_section();

                // Add active class to section title
                $(this).addClass('active');
                // Open up the hidden content panel
              $('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
            }

           e.preventDefault();
     });
    });
    </script>

 </head>
<body>

{% include "base/nav.html" %}

<!-- kurs bilgileri -->
<div class="container-fluid" style="background-color:lightgray;" >
    <div>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" style="padding:20px;" height="250" width="350" src="http://127.0.0.1:8000/media/{{ course_informations.courseCoverPhoto }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading" style="padding-top: 20px;padding-bottom:20px;">
                    <b>{{ course_informations.courseName }}</b>
                </h4>
                <p>{{ course_informations.courseDesc }}.</p>
            </div>
        </div>
    </div>
</div>

<!--nav-->
<div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active" style="padding-left:60px;padding-right: 40px;"><a href="#">Genel Bakış</a></li>
            <li style="padding-left:60px;padding-right: 30px;"><a href="#content">İçerik</a></li>
            <li style="padding-left:60px;padding-right: 30px;"><a href="http://127.0.0.1:8000/kurs/{{ course_informations.courseID }}/forum">Soru&Cevap</a></li>
            <li style="padding-left:60px;padding-right: 40px;"><a href="sil">Kurstan Ayrıl</a></li>
        </ul>
    </div>
</div>

<!--kurslar-->
<div class="container">
    <div class="row">
        <div id="content">
        {% for x in icerik %}
		<div class="widget widget-gray">
				<div class="widget-head" >
					<a href="{{ x.slug }}" target="_blank">
                        <h4 class="heading" >
                        <i class="fa fa-briefcase"></i>
                        {{ x.name }}</h4>
                    </a>
                </div>
        </div>
        {% endfor %}
        </div>
	</div>
</div>


</body>
</html>
