<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurs Oluştur</title>
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ icerik.coursePreVideo }}" frameborder="0" allowfullscreen></iframe> -->

</head>
<body>
  <div id="wrapper">
    {% include "base/nav.html" %}

    <div class="container">
      <div class="row">
      <div class="col-md-12 text-center">
          <form class="form-horizontal" action="{% url 'kursolustur' %}"  method="POST" >
                     {% csrf_token %}
                    <p>
                        <label for="id_courseName">Kurs Oluştur: </label>
                        <input id="id_courseName" name="courseName" type="text" />
                    </p>
                    <hr>
              <button id="signup" name="signup" class="btn btn-success">Oluştur</button>
          </form>

      </div>
</div>
</div>
  </div>

</body>
</html>