{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Moderna - Bootstrap 3 flat corporate template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
{{ icerik.courseSlug }}
</body>
</html>
