{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/css/panel.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <title>Kurs Güncelle</title>
</head>


<body class="nav-md">
<div class="container body">
    {% include "base/nav.html" %}
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section col-lg-2">
            <h3>Genel</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Kurs Ekle <span class="fa fa-chevron-down"></span></a></li>
            </ul>
            <hr>
            <h4> {{ icerik.courseName }} </h4>
            <ul class="nav side-menu">
                <li><a href="http://127.0.0.1:8000/kursduzenle/{{ icerik.courseID }}"><i class="fa fa-bug"></i> Kurs Bilgilerini Güncelle </a></li>
                <li><a href="http://127.0.0.1:8000/kursduzenle/{{ icerik.courseID }}/icerikekle"><i class="fa fa-bug"></i> İçerikleri Düzenle </a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-8">
        <form class="form-horizontal" method="POST" >
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">{{ field.label_tag }}</label>
                    {{ field.errors }}
                            <div class="col-md-5">
                                {{ field }}
                                <span class="help-block"></span>
                            </div>
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
                 <div  class="text-center">
                    <button id="update" name="update" class="btn btn-success ">Güncelle</button>
                </div>
    </form>
    </div>
</div>
</div>
</div>
</body>
</html>
