<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link href="/site_media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/site_media/css/style.css" rel="stylesheet" />
    <link href="/site_media/skins/default.css" rel="stylesheet" />
    <title>Başlık Aç</title>
</head>

<body>

<div class="container">

    {% include "base/nav.html" %}
    {% if message %}
        <strong>Enter a valid Question!</strong>
    {% endif %}

    {% if user.is_authenticated %}
        <form id="add_q" method="post">
            {% csrf_token %}

            <h3>Başlık Adı:</h3>
            <input maxlength="200" id="id_question_title" class="form-control input-lg" style="width:100%" placeholder="Başlık" type="text" name="question_title"/> <br/><br/>
            <h3>Soru:</h3>
            <textarea rows="6" name="question_text" id="id_question_text" name="question_text" class="form-control input-lg" placeholder="Soru"></textarea>
            <br>
<input class="btn pull-right btn-success" type="submit" value="Başlık Aç " />
        </form>
    {% else %}
        <small><a href="/login">Please Login to Add Questions!</a></small>
    {% endif %}

</div>
</body>
</html>