<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% for i in icerik %}
    {{ i }}
    {% endfor %}
</title>
</head>
<body>
{% for baslik in basliklar %}
<a href="{{ baslik.id }}">{{ baslik }}</a>
{% endfor %}
</body>
</html>